<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bar Labea</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/formulario.css">
	<link rel="stylesheet" href="styles/tablas.css">
	<script src="js/hashearPass.js"></script>
</head>

<body>
	<header th:include="plantillas/plantillas.html::cabecera"></header>

	<nav th:include="plantillas/plantillas.html::menu"></nav>

	<main>
		<section>
			<form th:action="@{/AgregarUsuario}" method="POST" th:object="${obj_usuario}">
				<label for="user">Usuario:</label>
				<input type="text" th:field="*{user}" required>

				<label for="pass">Contraseña REAL:</label>
				<input type="text" id="pass_sin_hash" required oninput="calcularSha256();">

				<label for="pass">Contraseña Hidden:</label>
				<input type="text" th:field="*{pass}" required>

				<label for="salt">Salt hidden:</label>
				<input type="text" th:field="*{salt}" required>

				<label for="rol.id">Rol ID:</label>
				<select th:field="*{rol.id}" required>
					<option th:each="elem : ${listaRoles}" th:value="${elem.id}" th:text="${elem.nombre}"></option>
				</select>

				<input type="submit" value="Insertar Usuario"></input>
			</form>


			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Usuario</th>
						<th>Rol</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="elem : ${listaUsuarios}">
						<td th:text="${elem.id}"></td>
						<td th:text="${elem.user}"></td>
						<td th:text="${elem.rol.nombre}"></td>
						<td>
							<a th:href="@{/BorrarUsuario(id=${elem.id})}">Borrar</a>
							<a th:href="@{/ModificarUsuario(id=${elem.id})}">Modificar</a>
						</td>
					</tr>

				</tbody>
			</table>
		</section>
	</main>

	<footer th:include="plantillas/plantillas.html::pie"></footer>
</body>

</html>